*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width:100%;
    height:100vh;
    padding:50px;
}
.container{
    display:flex;
    align-items: center;
    justify-content: space-between;
    gap:3px;
    background:pink;
    border-radius: 12px;

}
#task{
    flex:1px;
    border: none;
    border-radius: 12px;
    padding:8px;
    font-size:1rem;
    background: transparent;
}
#btn{
    border:none;
    border-radius: 12px;
    padding:8px;
    font-size:1rem;
}
ul li{
    font-size: 1 rem;

}
ul li.checked{
    text-decoration: line-through;
}