*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    position:relative;
    top:7px;
    left: 5px;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
    width: 250px;
    height: 25px;
}
.password-input{
    flex-grow: 1;
    height:100%;
    padding:0 37px 0 5px;
   
}

.btn{
    position:absolute;
    right:3px;
    font-size: 0.75rem;
    border: 1px solid rgb(164, 144, 144);
    cursor: pointer;
}
